<ion-view view-title="Transactions">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="trx in vm.transactions" type="item-text-wrap" href="#/tab/transactions/{{trx.id}}">
        <div class="row">
          <div class="col">{{trx.recipient}}</div>
          <div class="col">{{trx.amount}} EUR</div>
          <div class="col hidden-xs">{{trx.date | date:'medium'}}</div>
          <div class="col">{{trx.category}}</div>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-balanced" ng-click="vm.addCategory(trx)">
            Add Category
          </ion-option-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
